@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

.app {
  max-width: 1200px;
  margin: 0 auto;
}
.search-container {
  padding: 15px;
}

.post-container {
  padding: 15px;
}
.bp3-card.bp3-interactive:hover {
  cursor: auto;
}

.refresh-block {
  text-align: right;
  margin-bottom: 10px;
}

.updated-time {
  font-size: 12px;
}

.padding15 {
  padding: 15px;
}

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}